name: ci
on:
  push:
    paths:
      - 'code/docker/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Clean Space
        run: |
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /usr/share/dotnet/
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:code/docker"
          push: true
          tags: hf-flattn-v1.0